/* General styling for the header */
.header {
  position: fixed;
  width: calc(100% - 40px);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  background-color: #1b2533;
  color: E4E0E1;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  }
  
  /* Logo styling */
  .logo h1 {
    font-family: 'Georgia';
    font-size: 24px;
    color: white;
    margin: 0;
  }
  
  /* Navigation links */
  .nav-links {
    display: flex;
    gap: 20px;
  }
  
  .nav-links a {
    font-family: 'Georgia';
    color: white;
    line-height: 1;
    text-decoration: none;
    font-size: 18px;
    margin-bottom: 0px;
    transition: color 0.3s ease;
  }
  
  /* Hover effect on links */
  .nav-links a:hover {
    color: #61dafb;
  }
  
  /* Responsive styling */
  @media (max-width: 768px) {
    .nav-links {
      flex-direction: row;
      gap: 10px;
      width: 100%;
      justify-content: space-between;
    }

    .logo{
      display: none;
    }
  }
  